{{ define "main" }}
<div class="hx:mx-auto hx:flex hextra-max-page-width">
  <div class="content">
    <header class="pattern-hero">
        <div class="pattern-hero-text">
        <h1 class="pattern-title">{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <p class="pattern-subtitle">{{ . }}</p>
        {{ end }}
      </div>
      {{ if .Params.image }}
      <div class="pattern-hero-media">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </div>
      {{ end }}
    </header>

    <main class="pattern-body">
      <div class="pattern-container">
        {{ .Content }}
      </div>
    </main>
  </div>
</div>

{{ end }}