<div class="hextra-max-footer-width hx:mx-auto hx:flex hx:justify-center hx:py-12 hx:pl-[max(env(safe-area-inset-left),1.5rem)] hx:pr-[max(env(safe-area-inset-right),1.5rem)] hx:text-gray-600 hx:dark:text-gray-400 hx:md:justify-start">
  <div class="hx:flex hx:w-full hx:flex-col hx:items-center hx:sm:items-start">
    <div class="hx:font-semibold">
      <p>
        Operating Patterns is an attempt to name some emerging strategies and ways of working in the NHS. 
      </p>
      <p>
        It was created by James Plunkett from <a href="https://kinship.works" target="_blank" rel="noopener noreferrer" class="hx:underline hx:hover:no-underline">Kinship Works</a> and Richard Pope from <a href="https://rpp.works" target="_blank" rel="noopener noreferrer" class="hx:underline hx:hover:no-underline">Platformland</a>.
      </p>
    </div>
  </div>
</div>